.hobbiesText {
  color: green;
  font-style: italic;
  text-align: right;
}

.hobbiesHeading {
  color: red;
  font-family: italic;
  font-size: large;
  text-decoration: underline;
  text-align: right;
}
